
  @media (min-width: 768px) {
    .hero .container{
        display: grid;
        grid-row-gap: 20px;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 100px auto auto auto;
        grid-template-areas:
        "name name name name"
        "image image stats stats"
        "biography biography appearance appearance"
        "workAndConn workAndConn workAndConn workAndConn";
    }
    .hero__image {
        margin: 0 auto;
    }
}

.hero__name {
    font-size: 30px;
    text-align: center;
    width: 100%;
    grid-area: name;
}

.hero__image {
    width: 95%;
    margin-left: 2.5%;
    border-radius: 20px;
    box-shadow: 0 3px 7px rgb(0 0 0 / 25%);
    grid-area: image;
}

.hero__box {
    width: 95%;
    margin: 0 auto;
    padding: 10%;
    box-shadow: 0 3px 7px rgb(0 0 0 / 25%);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
}

.hero__box h2 {
    font-size: 20px;
    width: 100%;
    text-align: center;
}

.hero__box h3 {
    font-size: 15px;
}

.hero__box div{
    display: flex;
    justify-content: space-between;
}

.hero__box div div{
    display: flex;
    justify-content: space-around;
    width: 35%;
}

@media (min-width: 1200px) {
    .hero__name {
        font-size: 35px;
    }
    .hero__box {
        padding: 15%;
    }
    .hero__box h2 {
        font-size: 25px;
    }

    .hero__box h3 {
        font-size: 19px;
    }
  }
